@import 'part:@sanity/base/theme/variables-style';

.root {
  outline: none;
  padding: var(--medium-padding);
  line-height: calc(17 / 16);
  border: none;
  background: none;
  color: inherit;

  @nest & svg {
    vertical-align: top;
    font-size: 25px;
    margin: -4px;
    stroke-width: 3px;
  }

  @media (hover: hover) {
    opacity: 0.7;

    @nest &:hover {
      opacity: 1;
      background: rgba(255, 255, 255, 0.1);
    }
  }
}
