@import 'part:@sanity/base/theme/variables-style';

.root {
}

.content {
  -webkit-overflow-scrolling: touch;
  padding: var(--small-padding) 0;
  overflow: auto;
}

.versionsTable {
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 14px;
  width: 100%;
  white-space: nowrap;
}

.versionsTable th {
  font-weight: 600;
}

.versionsTable td,
.versionsTable th {
  padding: var(--extra-small-padding) var(--small-padding);
  text-align: left;
}

.versionsTable tr td {
  font-family: var(--font-family-monospace);
}

.versionsTable td:first-child,
.versionsTable th:first-child {
  padding-left: var(--medium-padding);
}

.versionsTable td:last-child,
.versionsTable th:last-child {
  padding-right: var(--medium-padding);
}

.syntax {
  font-size: 14px;
  background: #333;
  color: #fff;
  font-family: var(--font-family-monospace);
  margin: 0;
  padding: var(--medium-padding);
}

.commentSyntax {
  color: #777;
}
